$ColorPrimary: #ffffff;
$ColorSecondary: #6369ff;
$ColorButtonAlt: #6369ff1a;
$ColorInput: #fcfcff;
$ColorInputBorder: #ececec;
$ColorInputError: #ff3062;
$ColorBackground: #f2f2f2;
$ColorButtonDesc: #eff0ff;

$widthMobile: 320px;
$widthMobileIphone: 375px;
$widthTablet: 768px;
$widthDesktop: 1000px;
